<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-lg-between">

        <!-- <h1 class="logo me-auto me-lg-0"><a href="index.html">AdSolve<span>.</span></a></h1> -->
        <!-- Uncomment below if you prefer to use an image logo -->
        <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>

        <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
                <li><a class="nav-link scrollto active" href="/index#home">Home</a></li>
                <li><a class="nav-link scrollto" href="/index#about">About</a></li>
                <li><a class="nav-link scrollto" href="/index#ws">Work Streams</a></li>
                <li><a class="nav-link scrollto" href="/index#team">Team</a></li>
                <li><a class="nav-link scrollto " href="/index#news">News</a></li>
                <li><a class="nav-link scrollto" href="/index#outputs">Outputs</a></li>
                <li><a class="nav-link scrollto" href="/index#contact">Contact</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->



    </div>
</header><!-- End Header -->