<section id="news" class="portfolio">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Updates</h2>
            <p>News & Events</p>
        </div>

        <div class="container">
            <div class="button-container">
                <button id="filter-all" class="filter-btn active">All</button>
                <button id="filter-news" class="filter-btn">News</button>
                <button id="filter-event" class="filter-btn">Events</button>
            </div>


            <div class="portfolio-container">
                <!-- This contains the updates data extracted from news.yml -->
                <!-- The code handling this is in assets/js/updates.js -->
            </div>

            <div id="pagination-controls">
                <button class="btn" id="updates-prev-page"><i class="ri-arrow-left-line"></i></button>
                <span id="updates-page-info"></span>
                <button class="btn" id="updates-next-page"><i class="ri-arrow-right-line"></i></button>
            </div>

        </div>


    </div>
</section>