<section id="ws" class="services">
  <!-- ==================== 
    Each "view-ws*" element is rendered from its corresponding markdown file
    other_data/work_streams/ 
    Using javascript (assets/js/markdown.js)
  ==================== -->

  <!-- WS1 -->
  <div class="container" data-aos="fade-up">
    <div class="icon-box1">
      <div class="icon"><i class="ri-shake-hands-line"></i></div>
      <span class="anchor-m" id="ws1"></span>
      <div id="view-ws1"></div>
    </div>
  </div>

  <br>

  <!-- WS2 -->
  <div class="container" data-aos="fade-up">
    <div class="icon-box1">
      <span class="anchor-s" id="ws2"></span>
      <div class="icon"><i class="ri-bar-chart-box-line"></i></div>
      <div id="view-ws2"></div>
    </div>
  </div>

  <br>

  <!-- WS3 -->
  <div class="container" data-aos="fade-up">
    <div class="icon-box1">
      <span class="anchor-s" id="ws3"></span>
      <div id="ws3" class="icon"><i class="ri-flow-chart"></i></div>
      <div id="view-ws3"></div>
    </div>
  </div>

  <br>

  <!-- WS4 -->
  <div class="container" data-aos="fade-up">
    <div class="icon-box1">
      <span class="anchor-s" id="ws4"></span>
      <div class="icon"><i class="ri-question-answer-line"></i></div>
      <div id="view-ws4"></div>
    </div>
  </div>

  <br>

  <!-- WS5 -->
  <div class="container" data-aos="fade-up">
    <span class="anchor-s" id="ws5"></span>
    <div class="icon-box1">
      <div class="icon"><i class="ri-open-arm-line"></i></div>
      <div id="view-ws5"></div>
    </div>
  </div>

</section>